<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">            
            <meta name="description" content="This page will show all symfony github repositories">
            <meta name="author" content="">
            
            <link rel="icon" href="favicon.ico">
            
            <title>{% block title %}Symfony Open Source Contribution - Github{% endblock %}</title>
            
            {% block stylesheets %}
                <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
                <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}">
                <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/dataTables.bootstrap.min.css') }}">
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
            <div class="page-header">
                <h1>Symfony Github Public Repositories</h1>
            </div>
            {% block content %}{% endblock %}
        {% endblock %}
        </div>
        
        {% block footer %} 
            <footer class="footer">
                <div class="container">
                    <p class="text-muted text-center">&copy; Copyright 2018 by <a mailto="rakeshpal24@gmail.com">Rakesh Pal</a>.</p>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/dataTables.bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

        {% endblock %}

    </body>
</html>
